keys.txt
src/database/datatest.py
src/database/systemtest.db
G:\Meu Drive\Programas\Python\Gerenciador_Tarefas\__pycache__
G:\Meu Drive\Programas\Python\Gerenciador_Tarefas\src\__pycache__
G:\Meu Drive\Programas\Python\Gerenciador_Tarefas\src\database\__pycache__
G:\Meu Drive\Programas\Python\Gerenciador_Tarefas\src\layout\__pycache__
